.section-1 {
  background-image: url("../../images/Background-Header.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .main-img {
    width: 515px;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    h2 {
      color: white;
      font-size: 26px;
      line-height: 1.3em;
      letter-spacing: 3px;
    }
    h1 {
      text-align: left;
      font-size: 36px;
      color: rgb(252, 55, 146);
      margin-bottom: 15px;
    }

    p {
      text-align: left;
      font-size: 21px;
      color: rgb(255, 255, 255);
      margin-bottom: 20px;
    }
  }

  @media (max-width: 1025px) {
    .main-img {
      width: 418px;
    }
  }
  @media (max-width: 770px) {
    padding: 50px 0;
    .container {
      flex-direction: column;
    }
    .main-img {
      width: 100%;
    }

    .section-btn {
      margin: 0 auto 20px;
    }
  }

  @media (max-width: 430px) {
    padding: 30px 0;

    .container {
      .content {
        h2 {
          font-size: 18px;
        }
        h1 {
          font-size: 23px;
        }

        p {
          font-size: 16px;
        }
      }
    }
  }
}
