.section-3 {
  background: url(../../images/Background-Header-2.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 140px 0;

  .container {
    display: flex;
    align-items: center;
    gap: 100px;

    .content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      width: 50%;

      &.left {
        h2 {
          text-align: left;
          font-size: 28px;
          color: rgb(230, 230, 230);
          line-height: 1.3em;
          font-weight: 500;
        }
        h1 {
          font-weight: 700;
          text-align: left;
          font-size: 48px;
          color: rgb(252, 55, 146);
          line-height: 1.3em;
        }

        p {
          text-align: left;
          font-size: 18px;
          color: rgb(255, 255, 255);
          margin-bottom: 10px;
        }
      }

      &.right {
        strong {
          font-weight: 700;
          text-align: left;
          font-size: 20px;
          color: rgb(230, 230, 230);
          line-height: 1.3em;
        }

        h3 {
          text-align: left;
          font-size: 28px;
          color: rgb(230, 230, 230);
          line-height: 1.3em;
          font-weight: 300;
          margin-bottom: 10px;
        }

        ul {
          list-style: none;
          display: flex;
          flex-direction: column;
          gap: 15px;
          li {
            display: flex;
            align-items: center;
            gap: 20px;
            font-size: 20px;

            b {
              font-weight: 700;
              color: rgb(255, 255, 255);
            }
          }
        }
      }
    }
  }

  @media (max-width: 770px) {
    padding: 50px 0;

    .container {
      flex-direction: column;
      align-items: flex-start;
      gap: 30px;

      .content {
        width: 100%;
      }
    }
  }
  @media (max-width: 430px) {
    padding: 100px 0;
    background-image: url("../../images/Asset-1-2x.webp");

    .container {
      .content {
        &.left {
          h2 {
            font-size: 21px;
          }

          h1 {
            font-size: 24px;
          }

          p {
            font-size: 16px;
          }
        }

        &.right {
          strong {
            font-size: 18px;
          }

          h3 {
            font-size: 18px;
          }

          ul {
            gap: 10px;

            li {
              gap: 10px;
              font-size: inherit;
            }
          }
        }
      }
    }
  }
}
